.main-section{
    background-color: #0A2640;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 56px;
    padding-bottom: 65px;
}
.main-section.-bgWhite{
    background-color: #fff;
}
.max-width{
    max-width: 1200px;
    margin: 0px auto;
}