.main-section{
    background-color: #0A2640;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 56px;
    padding-bottom: 65px;
}
.width-body{
    max-width: 1400px;
    margin: 0px auto;
}