.main-nav{
    display: inline-block;
}
.main-nav .nav-action {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    text-decoration: none;
    margin-right: 40px;
}